<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="style.css" media="all">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="myApp.js"></script>
</head>

<body>
    <div class="container" ng-controller="FormCtrl">
        <header>
            <h1>Waitstaff Calculator</h1> 
        </header>
        <form ng-submit="submitted=true; submit()" name="myForm" novalidate>
            <div class="details">
                <div class="title">
                    <h1>Enter the Meal Details</h1> 
                </div>
                <label for="base-price">Base Meal Price: $</label>
                <input type="number" min="0" id="base-price" name="basePrice" ng-model="basePrice" ng-class="{'required-num' : myForm.basePrice.$invalid && submitted}" required>
                <label for="tax-rate">Tax Rate: %</label>
                <input type="number" min="0 " max="100 " id="tax-rate " name="taxRate" ng-model="taxRate" ng-class="{'required-percent'
		: myForm.taxRate.$invalid && submitted}" required>
                <label for="tip-percent ">Tip Percentage: %</label>
                <input type="number" min="0 " max="100 " id="tip-percent" name="tipPercent" ng-model="tipPercent" ng-class="{'required-percent' : myForm.tipPercent.$invalid && submitted}" required>
                <div class="button-group">
                    <input type="submit" value="submit">
                    <input type="button" ng-click="cancel()" value="Cancel">
                </div>
            </div>
        </form>
        <div class="charges ">
            <div class="title ">
                <h1>Customer Charges</h1> 
            </div>
            <p>Subtotal {{data.subtotal | currency:"$ "}}</p>
            <p>Tip {{data.tip | currency:"$ "}}</p>
            <p>Total {{data.total | currency:"$ "}}</p>
        </div>
        <div class="info ">
            <div class="title ">
                <h1>My Earnings Info</h1>
            </div>
            <p>Tip Total: {{data.tipTotal | currency:"$ "}}</p>
            <p>Meal count: {{data.mealCount}}</p>
            <p>Average Tip Per Meal: {{data.avgTipPerMeal | currency:"$ "}}
        </div>
	<div class="reset"><input type="button" ng-click="reset()" value="Reset"></div>
    </div>
</body>

</html>
